.wrapper {
  padding: 6px 15px;
  border-radius: 4px;
  box-shadow: 1px 2px 2px 3px aliceblue;
}
.itemCast {
  padding: 3px 15px;
  border-radius: 4px;
  border: 1 px solid snow;
  font-size: 1.3rem;
}
.actorName {
  color: rgb(33, 241, 123);
  font-weight: bold;
}
.actorImage {
  max-width: 150px;
  max-height: 300px;
  border-radius: 6px;

  margin: 6px;
  box-shadow: 1px 2px 2px 3px rgb(246, 250, 248);
}
